<svg xmlns="http://www.w3.org/2000/svg" width="41" height="42" viewBox="0 0 41 42" fill="none">
<g id="Group 32">
<g id="arrow">
<g id="Group 24">
<g id="center+arrows">
<g id="Vector">
<path d="M20.6102 41.0692C31.3192 41.0692 40.0005 32.0891 40.0005 21.0117C40.0005 9.93418 31.3192 0.954102 20.6102 0.954102C9.90129 0.954102 1.21999 9.93418 1.21999 21.0117C1.21999 32.0891 9.90129 41.0692 20.6102 41.0692Z" fill="#FFF8EB"/>
<g clip-path="url(#paint0_angular_10442_3525_clip_path)" data-figma-skip-parse="true"><g transform="matrix(0 0.0200576 -0.0193902 0 20.6102 21.0117)"><foreignObject x="-1051.57" y="-1051.57" width="2103.14" height="2103.14"><div xmlns="http://www.w3.org/1999/xhtml"></div></foreignObject></g></g>
</g>
<path id="arrow left" d="M24.8704 21.7689L21.4318 23.4649L17.8776 25.7585L18.236 21.7176L17.8954 17.6672L21.4574 19.9206L24.8704 21.7689Z" fill="black"/>
</g>
</g>
</g>
</svg>