<svg xmlns="http://www.w3.org/2000/svg" width="42" height="32" viewBox="0 0 42 32" fill="none">
<g id="Group 32">
<path id="Vector 10" d="M18 16.2871L0 16.2871" stroke="url(#paint0_linear_10470_57)"/>
<g id="arrow">
<g id="Group 24">
<g id="center+arrows">
<g clip-path="url(#paint1_angular_10470_57_clip_path)" data-figma-skip-parse="true"><g transform="matrix(0 0.015 -0.015 0 26 16)"><foreignObject x="-1066.67" y="-1066.67" width="2133.33" height="2133.33"><div xmlns="http://www.w3.org/1999/xhtml"></div></foreignObject></g></g><path id="Vector" d="M40.5 16C40.5 24.0081 34.0081 30.5 26 30.5V31.5C34.5604 31.5 41.5 24.5604 41.5 16H40.5ZM26 30.5C17.9919 30.5 11.5 24.0081 11.5 16H10.5C10.5 24.5604 17.4396 31.5 26 31.5V30.5ZM11.5 16C11.5 7.99187 17.9919 1.5 26 1.5V0.5C17.4396 0.5 10.5 7.43959 10.5 16H11.5ZM26 1.5C34.0081 1.5 40.5 7.99187 40.5 16H41.5C41.5 7.43959 34.5604 0.5 26 0.5V1.5Z" data-figma-gradient-fill="{&quot;type&quot;:&quot;GRADIENT_ANGULAR&quot;,&quot;stops&quot;:[{&quot;color&quot;:{&quot;r&quot;:1.0,&quot;g&quot;:1.0,&quot;b&quot;:1.0,&quot;a&quot;:1.0},&quot;position&quot;:0.0},{&quot;color&quot;:{&quot;r&quot;:1.0,&quot;g&quot;:0.29161784052848816,&quot;b&quot;:0.29161784052848816,&quot;a&quot;:1.0},&quot;position&quot;:0.51041668653488159},{&quot;color&quot;:{&quot;r&quot;:1.0,&quot;g&quot;:1.0,&quot;b&quot;:1.0,&quot;a&quot;:1.0},&quot;position&quot;:1.0}],&quot;stopsVar&quot;:[{&quot;color&quot;:{&quot;r&quot;:1.0,&quot;g&quot;:1.0,&quot;b&quot;:1.0,&quot;a&quot;:1.0},&quot;position&quot;:0.0},{&quot;color&quot;:{&quot;r&quot;:1.0,&quot;g&quot;:0.29161784052848816,&quot;b&quot;:0.29161784052848816,&quot;a&quot;:1.0},&quot;position&quot;:0.51041668653488159},{&quot;color&quot;:{&quot;r&quot;:1.0,&quot;g&quot;:1.0,&quot;b&quot;:1.0,&quot;a&quot;:1.0},&quot;position&quot;:1.0}],&quot;transform&quot;:{&quot;m00&quot;:1.8438374132091588e-15,&quot;m01&quot;:-30.0,&quot;m02&quot;:41.0,&quot;m10&quot;:30.0,&quot;m11&quot;:1.8301159029801128e-15,&quot;m12&quot;:1.0},&quot;opacity&quot;:0.60000002384185791,&quot;blendMode&quot;:&quot;NORMAL&quot;,&quot;visible&quot;:true}"/>
</g>
<path id="arrow left" d="M29.2955 16.5669L26.6354 17.8352L23.886 19.5505L24.1632 16.5285L23.8997 13.4995L26.6552 15.1847L29.2955 16.5669Z" fill="black"/>
</g>
</g>
</g>
<defs>
<clipPath id="paint1_angular_10470_57_clip_path"><path id="Vector" d="M40.5 16C40.5 24.0081 34.0081 30.5 26 30.5V31.5C34.5604 31.5 41.5 24.5604 41.5 16H40.5ZM26 30.5C17.9919 30.5 11.5 24.0081 11.5 16H10.5C10.5 24.5604 17.4396 31.5 26 31.5V30.5ZM11.5 16C11.5 7.99187 17.9919 1.5 26 1.5V0.5C17.4396 0.5 10.5 7.43959 10.5 16H11.5ZM26 1.5C34.0081 1.5 40.5 7.99187 40.5 16H41.5C41.5 7.43959 34.5604 0.5 26 0.5V1.5Z"/></clipPath><linearGradient id="paint0_linear_10470_57" x1="18.5" y1="16.2871" x2="0.5" y2="16.2871" gradientUnits="userSpaceOnUse">
<stop offset="0.198035"/>
<stop offset="1" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>