<!--single box text-->
<div class="w-full h-auto">
    <div class="w-full h-auto flex flex-col items-start justify-start px-8 gap-y-20 py-[100px] lg:px-[100px]">
        <!-- container block text -->
         {% for block in section.blocks %}
            {% if block.type == "box-text" %}
              <div class="w-full h-auto flex flex-col items-start justify-center gap-y-5 lg:gap-y-10 lg:w-auto">
                <div class="w-auto h-auto flex flex-col items-start justify-center">
                    {% if block.settings.section_main_title %}
                      <h2 class="text-[36px] leading-[40px] tracking-[-0.36px] uppercase lg:text-[8vw] lg:leading-[10vw] lg:tracking-[-1.2px] lg:w-[60vw]">
                        {{ block.settings.section_main_title }}
                    </h2>
                    {% endif %}
                </div>
                <div class="w-full h-auto flex flex-col items-start justify-center gap-y-5 lg:gap-y-3 lg:w-auto">
                    <h3 class="text-[24px] leading-[32px] tracking-[0.24px] lg:text-[32px] lg:leading-[40px] lg:tracking-[0.32px] italic">{{
                        block.settings.italic_style_text |
                        default: "La magia delle botti" }}</h3>
                    <p class="text-[16px] leading-[28px] tracking-[0.16px] lg:text-[20px] lg:w-[40vw]">{{
                        block.settings.default_style_text | default:
                        "A Villa Bucci, le botti non sono semplici contenitori, ma
                        custodi di storia e tradizione. Realizzate in rovere di
                        Slavonia, favoriscono una micro-ossigenazione naturale
                        grazie alla porosità del legno. Ogni botte conserva la
                        memoria dei vini che ha accolto, rendendoli parte
                        integrante dell’anima di Villa Bucci. Senza di loro, questa
                        realtà non sarebbe la stessa." }}</p>
                </div>
            </div>
            {% endif %}
         {% endfor %}
    </div>
</div>

{% schema %}
    {
      "name": "box-text",
      "settings": [],
      "blocks": [
        {
          "type": "box-text",
          "name" : "box-text",
          "settings": [
            {
          "type": "text",
          "id": "section_main_title",
          "label": "Section main title"
        },
        {
          "type": "text",
          "id": "italic_style_text",
          "label": "Italic Style Text"
        },
        {
          "type": "text",
          "id": "default_style_text",
          "label": "Default Style Text"
        }
          ]
        }
      ]
    }
  {% endschema %}