<!-- single box text -->
<div class="w-full h-auto">
  <div class="w-full h-auto flex flex-col items-start justify-start px-8 gap-y-20 py-[100px] lg:px-[100px]">
    <!-- container block text -->
    {% for block in section.blocks %}
      {% if block.type == "box-text" %}
        <div class="w-full h-auto flex flex-col items-start justify-center gap-y-5 lg:gap-y-10 lg:w-auto">

          <div class="w-auto h-auto flex flex-col items-start justify-center">
            {% if block.settings.section_main_title != blank %}
              <h2 class="text-[36px] leading-[40px] tracking-[-0.36px] uppercase lg:text-[80px] lg:leading-[80px] lg:tracking-[-0.8px]">
                {{ block.settings.section_main_title }}
              </h2>
            {% endif %}
          </div>

          <div class="w-full h-auto flex flex-col items-start justify-center gap-y-5 lg:gap-y-3 lg:w-auto">
            {% if block.settings.italic_style_text != blank  %}
              <h3 class="text-[24px] leading-[32px] tracking-[0.24px] lg:text-[32px] lg:leading-[40px] lg:tracking-[0.32px] italic">{{ block.settings.italic_style_text }}</h3>
            {% endif %}

            {% if block.settings.default_style_text != blank  %}
              <p class="text-[16px] leading-[28px] tracking-[0.16px] lg:text-[20px] lg:w-[40vw]">{{ block.settings.default_style_text }}</p>
            {% endif %}
          </div>

        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "box-text",
    "settings": [],
    "blocks": [
      {
        "type": "box-text",
        "name": "box-text",
        "settings": [
          {
            "type": "text",
            "id": "section_main_title",
            "label": "Section main title"
          },
          {
            "type": "text",
            "id": "italic_style_text",
            "label": "Italic Style Text"
          },
          {
            "type": "text",
            "id": "default_style_text",
            "label": "Default Style Text"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Default Text Layout",
      "category": "Custom",
      "settings": {},
      "blocks": [
        {
          "type": "box-text",
          "settings": {
            "section_main_title": "La Cantina",
            "italic_style_text": "La magia delle botti",
            "default_style_text": "A Villa Bucci, le botti in rovere di Slavonia custodiscono storia e tradizione, favorendo una micro-ossigenazione naturale che arricchisce l'anima dei vini e della cantina."
          }
        }
      ]
    }
  ]
  }
{% endschema %}
