<div class="w-full h-auto">
  <!-- loop through blocks -->
  {% for block in section.blocks %}
    {% if block.type == "canteen_text" %}
      <!-- container text -->
      <div class="w-full h-auto flex flex-row justify-{{ block.settings.canteen_text_direction }} items-center">
        <h2 class="font-(family-name:--main-title-mobile-font-family) text-[128px] font-light leading-[90%] lg:text-[256px] text-[{{ block.settings.canteen_text_color }}] {% if block.settings.is_stroke %} canteen-text-stroke {% endif %}">
          {{ block.settings.canteen_text | upcase }}
        </h2>
      </div>
    {% endif %}
  {% endfor %}
</div>


<style>
  .canteen-text-stroke {
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: {{ block.settings.canteen_text_color }};
  }
</style>

{% schema %}
  {
    "name": "canteen_main_text",
    "settings": [],
    "blocks": [
      {
        "type": "canteen_text",
        "name": "canteen_text",
        "settings": [
          {
            "type": "text",
            "id": "canteen_text",
            "label": "Canteen text"
          }, {
            "type": "checkbox",
            "id": "is_stroke",
            "label": "Stroke text",
            "default": false
          }, {
            "type": "color",
            "id": "canteen_text_color",
            "label": "Canteen text color"
          }, {
            "type": "select",
            "default": "center",
            "id": "canteen_text_direction",
            "label": "Text Direction",
            "options": [
              {
                "value": "start",
                "label": "Start"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "end",
                "label": "End"
              }
            ]
          }

        ]
      }
    ]
  }
{% endschema %}