<div class="w-full h-auto overflow-hidden py-[100px] lg:py-[120px]">
  {% for block in section.blocks %}
    {% assign indexModule = forloop.index | modulo: 2 %}
    {% if block.type == "emotional_text" %}
      <div class="scroll-trigger w-auto h-auto overflow-x-auto overflow-y-hidden">
        <h2 class="scroll-element font-(family-name:--main-title-mobile-font-family) text-[128px] leading-[90%] tracking-[1.02px] lg:text-[256px] lg:leading-[100%] text-nowrap w-auto" style="
            {% if block.settings.is_stroke_text %}
               color: transparent; 
               -webkit-text-stroke-width: 1.5px;
               -webkit-text-stroke-color: white;
            {% else %}
               color: white;
            {% endif %}
            {% if indexModule == 0 %}
               text-align: left;
            {% else %}
               text-align: right;
            {% endif %}
         ">
          {{ block.settings.animation_scrolling_text | upcase }}
        </h2>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
  
    gsap.registerPlugin(ScrollTrigger);
    const scrollElements = document.querySelectorAll('.scroll-element');
    const scrollTrigger = document.querySelectorAll('.scroll-trigger');
  
    const getValueToScroll = (index) => {
      const trigger = scrollTrigger[index];
      const clientWidthValue = trigger.clientWidth;
      const scrollWidth = trigger.scrollWidth;
      const valueToScroll = scrollWidth - clientWidthValue;
      if (valueToScroll !== 0) {
        return valueToScroll
      }
    }
  
    scrollElements.forEach((el, index) => {
      const direction = (index % 2 === 0) ? -1 : 1;
      const valueToScroll = getValueToScroll(index);
      console.log(valueToScroll);
  
      gsap.to(el, {
        x: valueToScroll * direction,
        ease: "power1.inOut",
        scrollTrigger: {
          trigger: el.parentElement,
          start: "top center",
          end: "bottom+=100px center",
          scrub: 0.2
        }
      });
    });
  });
</script>


{% schema %}
  {
    "name": "emotional_text_section",
    "settings": [],
    "blocks": [
      {
        "type": "emotional_text",
        "name": "emotional_text",
        "settings": [
          {
            "type": "text",
            "id": "animation_scrolling_text",
            "label": "Scrolling text"
          }, {
            "type": "checkbox",
            "id": "is_stroke_text",
            "label": "Is scrolling text stroke"
          }
        ]
      }
    ]
  }
{% endschema %}