<div class="px-5">

  <footer class="w-full bg-(--blue-color) rounded-[8px] text-white px-5 py-10">
    <div>

      <img class="w-[275px] max-w-[375px] h-auto object-cover object-center"
        src="{{ section.settings.canteen_main_logo |  img_url: 'master' }}"
        alt="{{ section.settings.canteen_main_logo.alt }}">
    </div>


<div class="w-full h-auto">
  <!-- Responsive Footer Layout -->
  <div class="flex flex-col lg:flex-row lg:justify-start lg:items-center h-auto">
    <!-- Column 1 -->
    <div class="flex-1 lg:h-[377px]">
      <h3 class="font-semibold text-gray-400">ONIWINES</h3>
      <ul class="mt-2 space-y-2">
        <li><a href="#" class="hover:underline">HOME</a></li>
        <li><a href="#" class="hover:underline">IL GRUPPO</a></li>
        <li><a href="#" class="hover:underline">CONTATTI</a></li>
      </ul>
    </div>

    <!-- Column 2 -->
    <div class="flex-1 lg:h-[377px]">
      <h3 class="font-semibold text-lg text-gray-400">LE CANTINE</h3>
      <ul class="mt-2 space-y-2">
        <li><a href="#" class="hover:underline">TENIMENTI LEONE</a></li>
        <li><a href="#" class="hover:underline">PODERE GUARDIA GRANDE</a></li>
        <li><a href="#" class="hover:underline">LA GIUVA</a></li>
        <li><a href="#" class="hover:underline">VILLA BUCCI</a></li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="flex-1 lg:h-[377px] relative">
      <div>
        <h3 class="font-semibold text-lg text-gray-400">PROGETTI SPECIALI</h3>
        <ul class="mt-2 space-y-2">
          <li><a href="#" class="hover:underline">BENACUS</a></li>
          <li><a href="#" class="hover:underline">FREDERIC LEVIN</a></li>
        </ul>
      </div>
      <div class="absolute right-0 bottom-0">
        <p> torna su
        </p>



      </div>
    </div>
  </div>
</div>

<!-- Under Footer -->
<div class="w-full h-auto">
  <div class="flex flex-col lg:flex-row lg:justify-start lg:items-center">
    <!-- Column 1 -->
    <div class="flex-1">
      <p>oniwines | P.IVA 00000000000 | mail@oniwines.it</p>
    </div>

    <!-- Column 2 -->
    <div class="flex-1">
      <p>ONIVERSE</p>
    </div>

    <!-- Column 3 (Aligned Right) -->
    <div class="flex-1">
      <p>PREFERENZE COOKIE | PRIVACY | CREDITS</p>
    </div>
  </div>
</div>

</footer>
</div>