<!--footer div -->
<div class="w-full h-screen bg-(--blue-color) p-5">
            <div class="w-full h-full flex flex-col items-center justify-center absolute">
                <div class="w-auto h-auto flex items-center justify-center text-center">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium error reprehenderit sapiente dignissimos quia illo excepturi ab iste dolore, vitae veritatis necessitatibus repudiandae dicta animi facere quis amet quaerat.</p>
                </div>
               
               
               
            </div>
</div>

