<!--home step text layout -->
<div class="w-full h-svh bg-(--bg-color) p-5">
    <div class="w-full h-full flex flex-col items-center justify-center gap-y-10 relative">
       <div class="w-auto h-auto flex items-center justify-center text-center">
        <!--main title first step-->
        <h1 class="main-title-mobile lg:main-title-laptop lg:text-[96px] lg:max-w-[1034px]">
            {{ section.settings.first_step_title |  default: "Scopri il mondo di Oniwines." }}
        </h1>
       </div>
       <!--container cta -->
       <div class="w-auto h-auto flex items-center justify-center">
         <div class="cta-orange">
            <!--cta text-->
            <p class="uppercase text-[12px] leading-[16px] tracking-[-3%]">{{ section.settings.cta_text |  default: "Entra" }}</p>
            <!--render icon -->
            {% render 'play-poligon' %}
         </div>
       </div>
       <!--container absolute bottom text -->
       <div class="w-full absolute h-auto left-0 bottom-0 right-0">
        <div class="w-auto h-auto flex items-center justify-center">
            <p class="uppercase underline text-[12px] leading-[16px] tracking-[-3%] font-bold">{{ section.settings.custom_settings_text |  default: "Entra senza audio"}}</p>
        </div>
       </div>
    </div>

</div>