<!--home step text layout -->
<div class="w-full h-svh bg-(--bg-color) p-5">
    <div class="w-full h-full flex flex-col items-center justify-center gap-y-10">
       <div class="w-auto h-auto flex items-center justify-center text-center">
        <h1 class="main-title-mobile lg:main-title-laptop">
            {{ section.settings.first_step_title |  default: "Scopri il mondo di Oniwines." }}
        </h1>
       </div>
       <div class="w-auto h-auto flex items-center justify-center">
         <div class="cta-orange">
            <!--cta text-->
            <p class="uppercase text-[12px] leading-[16px] tracking-[-3%]">{{ section.settings.cta_text |  default: "Entra" }}</p>
            <!--render icon -->
            {% render 'play-poligon' %}
         </div>
       </div>
    </div>
</div>