<!--page loading section with video-->
<div class="loading-wrapper w-full h-svh relative transform transition-all duration-500 ease-out">
    <!--container video-->
    <div class="w-full h-full absolute inset-0">
        <video class="video w-full h-full object-cover object-center" autoplay muted playsinline>
            <source src="{{ 'page-loading.mp4' | asset_url }}" />
        </video>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const loadingWrapper = document.querySelector('.loading-wrapper');
        const video = document.querySelector('.video');

        document.body.classList.add('no-scroll');

        video.addEventListener('ended', () => {
            setTimeout(() => {
                loadingWrapper.classList.add('-translate-y-full');

                loadingWrapper.addEventListener('transitionend', () => {
                    document.body.classList.remove('no-scroll');
                });
            }, 500);
        });

        video.addEventListener('canplaythrough', () => { });
    });

</script>