<!-- section slider -->
<div class="w-full h-auto relative overflow-x-hidden">

  <!-- slider-gallery-container -->
  <div class="slider-container overflow-x-auto w-full h-auto pt-[72px] relative lg:h-[856px]">

    <!--container-counter-->
    <div class="w-[46px] h-[53px] absolute right-[20%] top-0 flex flex-col items-center justify-center z-20">
      <!--container svg line-->
      <div class="w-auto h-auto absolute left-1/2 top-1/2 -translate-1/2 -translate-y-1/2">
        {% render 'line' %}
      </div>
      <div class="w-full h-full flex flex-col items-start justify-between">
        <div class="w-full h-auto flex items-center justify-start">
          <p class="counter-text"></p>
        </div>
        <div class="w-full h-auto flex items-center justify-end">
          <p class="counter-total text-right"></p>
        </div>
      </div>
    </div>

    <!-- arrow-content -->
    <div class="w-auto h-[40px] absolute bottom-0 right-[20%] flex flex-row items-start justify-center gap-x-2.5 z-20">
      <div class="w-auto h-full arrow-left flex items-center justify-center">
        {% render 'arrow-left-slider' %}
      </div>
      <div class="w-auto h-full arrow-right flex items-center justify-center">
        {% render 'arrow-right-slider' %}
      </div>
    </div>

    <div
      class="slides-container w-full overflow-x-auto relative flex flex-row items-start gap-x-3 justify-start lg:h-[684px]">
      {% for block in section.blocks %}
      {% if block.type == "slider-item" %}
      <div
        class="slider-item w-auto h-auto lg:w-[1224px] lg:min-w-[1224px] lg:h-full transition-all duration-200 ease-in"
        data-item="{{ forloop.index0 }}">
        <img class="w-full h-full object-cover object-center"
          src="{{ block.settings.slider_image |  img_url: 'master' }}" alt="{{ block.settings.slider_image.alt }}">
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const sliderContainer = document.querySelector('.slides-container');
    const sliderItems = document.querySelectorAll('.slider-item');
    const arrowLeft = document.querySelector('.arrow-left');
    const arrowRight = document.querySelector('.arrow-right');
    const counterSlider = document.querySelector('.counter-text');
    const counterTotalItems = document.querySelector('.counter-total');

    const itemWidth = sliderItems[0].offsetWidth;

    let currentIndex = 2;
    const moveSliderToIndex = (index) => {
      const offsetValue = 90;
      index = (index + sliderItems.length) % sliderItems.length;
      const targetPosition = itemWidth * index - offsetValue;

      sliderContainer.scrollTo({
        left: targetPosition,
        behavior: 'smooth'
      });

      sliderItems.forEach((item) => {
        gsap.to(item, {
          scale: 0.9,
          duration: 0.2,
          ease: "linear" 
        });
      });

      gsap.to(sliderItems[index], {
        scale: 1,
        duration: 0.5,
        ease: "linear"
      });

      counterSlider.innerHTML = `${index + 1}`;
      counterTotalItems.innerHTML = sliderItems.length;
      currentIndex = index;
    };

    moveSliderToIndex(currentIndex);

    arrowLeft.addEventListener('click', () => {
      moveSliderToIndex(currentIndex - 1);  
    });

    arrowRight.addEventListener('click', () => {
      moveSliderToIndex(currentIndex + 1);
    });
  });
</script>


{% schema %}
{
"name": "slider",
"settings": [],
"blocks": [
{
"name": "slider",
"type": "slider-item",
"settings": [
{
"id": "slider_image",
"type": "image_picker",
"label": "Slider Image"
}
]
}
]
}
{% endschema %}