<!-- video section container -->
<div class="w-full h-[500px] lg:h-[942px] p-5">
  <!-- video wrapper container -->
  <div class="w-full h-full">
    <video
      class="w-full h-full object-cover object-center rounded-[8px]"
      autoplay
      muted
      playsinline>
      <source src="{{ section.settings.video_source }}" />
    </video>
  </div>
</div>

{% schema %}
  {
    "name": "video-content",
    "settings": [
      {
        "type": "url",
        "id": "video_source",
        "label": "Video source link"
      }
    ]
  }
{% endschema %}