@import "tailwindcss";

:root {
  /* MAIN TITLE  */
  --main-title-color: #5c634f;
  --main-title-font-size: 96px;
  --main-title-font-family: "FONTSPRING DEMO - The Seasons"; /* font to import  */
  --main-title-font-style: normal;
  --main-title-font-weight: 400;
  --main-title-line-height: 105%;
  --main-title-letter-spacing: 2.88px;
  --main-title-text-transform: uppercase;
  /* SUBMAIN TITLE  */
  --submain-title-color: var(--main-title-color);
  /* --submain-title-color:#5C634F  */
  --submain-title-font-size: 16px;
  --submain-title-font-family: "Area Normal"; /* font to import  */
  --submain-title-font-style: normal;
  --submain-title-font-weight: 400;
  --submain-title-line-height: normal;

  /*box shadow*/
  --main-cta-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

/* component */
@layer components {
  /*main title*/
  .main-title {
    @apply leading-(--main-title-letter-spacing) font-(--main-title-font-weight) tracking-(--main-title-line-height) uppercase text-(--main-title-color)
  }

  /*main title orange*/
  .main-title .default {
    @apply leading-(--main-title-letter-spacing) font-(--main-title-font-weight) tracking-(--main-title-line-height) uppercase text-(--main-title-color)
  }

  /*main title orange*/
  .main-title .orange {
    @apply leading-(--main-title-letter-spacing) font-(--main-title-font-weight) tracking-(--main-title-line-height) uppercase text-(--main-title-color)
  }
  /*main title gold*/
  .main-title .gold {
    @apply leading-(--main-title-letter-spacing) font-(--main-title-font-weight) tracking-(--main-title-line-height) uppercase text-(--main-title-color)
  }

  /*main title gold*/
  .main-title .light-blue {
    @apply leading-(--main-title-letter-spacing) font-(--main-title-font-weight) tracking-(--main-title-line-height) uppercase text-(--main-title-color)
  }

  .submain-title{
    @apply leading-(--submain-title-line-height) font-(--submain-title-font-weight) tracking-(--submain-title-line-height) uppercase text-(--main-title-color)
  }
  /*main organge cta*/
  .cta-orange {
    @apply w-auto min-w-[191px] h-auto min-h-[48px] border border-transparent rounded-[18px] bg-[#E86A58CC] shadow-(--main-cta-shadow) backdrop-blur-xs flex flex-col justify-between px-6 py-3;
  }
}
