@import "tailwindcss";

h1{
    color: green;
    display: flex;
    display: inline;
    text-decoration: underline;
    font-size: large;
    cursor: pointer;
    background-color: blanchedalmond;
    background-image: -moz-element();
}

